*{
    margin: 0;
    top: 0;
}

#image{
    background-image: url("https://media.gettyimages.com/photos/indias-mahendra-singh-dhoni-looks-on-after-a-session-in-the-nets-as-picture-id1154574731?s=2048x2048");
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#signature{
    background-color: black;
    color: white;
    text-align: center;
}

#teamtitle{
    position: absolute;
    font-family: sans-serif;
    top:35%;
    left:6%;
    width: 40%;
    color: linear-gradient(#9AF681, #F7F8FB);
    background-color: transparent;
}

div h1{
    position: absolute;
    top:100%;
    left: 59%;
    font-family: Dancing Script;
}

div p{
    font-family: Satisfy;
    font-size: 37px;
    word-spacing: 10px;
}

#img-caption{
    position: relative;
}

#tribute-info{
    text-align: center;
}

#img-caption{
    font-style: italic;
    left: 27%;
    text-align: center;
}

#fccicon{
    position: absolute;
    z-index: 2;
}

svg{
    color: black;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: scale(10);
    transition: 0.2s;
    transition-timing-function: linear;
}

svg:hover{
    transform: translateY(-3px);
}


hr{
    background-color: black;
}

.logo{
    position: absolute;
    top: 0.3%;
    left: 0.2%;
    transform: scale(01);
    color:green;
    box-shadow: aliceblue;
}

#box-bg{
    margin: auto;
    width: 70%;
    padding: 10px;
    background-color: #DFDEDE;
    border-radius: 10px;
}

ul{
    text-align:left
}

.card{
    height: 10px;
}

#center{
    line-height: normal;
}


